div > div {
  width: 20%;
  background-color: rgb(134, 134, 134);
  border: 2px solid rgb(41, 4, 71);
}
.generator {
  display: flex;
  justify-content: center;
}
#chooseclass {
  width: 20%;
  font-size: 20px;
  background-color: green;
}
.clickit {
  display: flex;
  justify-content: center;
}
body {
  font-family: "Heebo", sans-serif;
  background-color: #999;
}
h1 {
  padding-left: 20px;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
}
#chooseclass:hover {
  color: whitesmoke;
  background-color: rgb(1, 54, 1);
}
